@import "src/app/scss/variable.scss";

h2 {
  text-align: center;
  padding-top: calc(2* $triple-padding);
}

h3 {
  text-align: center;
  padding: $quadruple-padding 0 $normal-padding 0;
}

span {
  color: $black;
  font-weight: 600;
}

img {
  display: block;
  width: 84vw;
  border-radius: 8px;
  margin-bottom: $double-margin;
}

.erve {
  margin-top: $double-margin;
}

.filter {
  filter: drop-shadow(0 0 8px $green);
}

i {
  color: red;
}

.Fitzgerald {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.plantaire {
  border-radius: 50%;
}

ul li {
  font-weight: 600;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 600px) {
  img {
    width: 400px;
    margin: $normal-margin auto $double-margin auto;
  }
  .Fitzgerald, .cancer-icon, .final-logo {
    width: 200px;
  }
  .inca, .erve, .palmaire, .family {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --positionForIndicatorBar: 0%;
  }

  .tab-container {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: $normal-padding
  }
  
  .scroller {
    content: "";
    width: 16px;
    height: 138px;
    opacity: 0.4;
    background: #888;
    position: absolute;
    top: -2px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    border-radius: 7px;
  }
  
  .indicator {
    content: "";
    width: 12px;
    height: 28px;
    background: $green;
    position: absolute;
    left: 10px;
    z-index: 2;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
  }
  
  .tab_label {
    z-index: 2;
    display: flex;
    align-items: center;
    border: 0;
    margin-left: $triple-margin;
  }

  .tab_label a {
    color: black;
    font-size: $l-font-size;
    font-weight: 600;
    cursor: pointer;
  }
  .tab_label a:hover {
    color: $green;
    scale: 1.02;
  }
  .tab_label a.active {
    font-weight: bold;
    color: $green;
    text-decoration: underline;
}

  
  .indicator {
    top: var(--positionForIndicatorBar);
  }
  
  
  ul {
    font-size: 1.3rem;
  }
 
  span {
    color: black;
    font-weight: 600;
  }

  img {
    width: 500px;
    margin: $normal-margin auto $double-margin auto;
  }
  .Fitzgerald, .cancer-icon, .final-logo {
    width: 250px;
  }
  .inca, .erve, .palmaire, .family {
    width: 700px;
  }
}
