<header class="header-container">
  <div class="logo-p-header-container">
    <img src="./assets/logo/logowotxt.png" alt="logo du site" />
    <div class="p-header">
      <P class="name">Céline Moreira</P>
      <P class="p1">L'art de la réflexologie plantaire</P>
      <P class="p2">Practicienne en réflexologie vectorielle,</P>
      <P class="p3">certifiée palmaire & plantaire</P>
    </div>
  </div>
  <nav [ngClass]="burgerVisible ? 'visible invisible' : 'visible'">
      <div>Accueil</div>
      <div>La réflexologie</div>
      <div>A propos</div>
      <div>Séances</div>
      <div>Contact</div>
  </nav>
  <div class="burger-icone-container" (click)="burgerToggle()">
    <i [ngClass]="burgerVisible ? 'fa-solid fa-bars' : 'fa-solid fa-xmark'"></i>
  </div>
</header>
