.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #2da080;
  font-family: "Poppins";
}
.logo-p-header-container {
  display: flex;
  align-items: center;
  z-index: 2;
}
img {
  height: 10vh;
  object-fit: contain;
}

i {
  font-size: x-large;
  margin-right: 5vw;
}
.name {
  font-size: 1.4em;
  display: block;
}
.burger-icone-container{
  z-index: 2;
}
.p1 {
  display: block;
  font-size: 0.8em;
}
nav div{
  cursor: pointer;
}
nav div:hover{
  color: whitesmoke;
  transition: 0.3s;
}

.visible {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 60vh;
  background-color:#2da080; 
  transition: right 1s;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10vh;
  z-index: 1;
  border-bottom-left-radius: 10px;
}
.invisible{
  right: -55vw;
}
.p3, .p2 {
    margin-left: 20px;
    margin-top: 10px;
    display: none;
  }
  .sous-menu{
    position: fixed;
    background-color: #2da080;
    padding: 10px;
    border: 1px solid black;
  }
  .sous-menu li a {
  color: black;
  }
  .sous-menu li {
   margin-top: 20px;
    }
  .sous-menu li:hover a {
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }









//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 600px) {
  .p1, .p3, .p2 {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
  font-size: 1em;

  }
  .header-container, img {
    height: 15vh;
  }
  .visible{
    height: 79vh;
    padding-top: 15vh;
  }


}
@media screen and (min-width: 1200px) {
  .burger-icone-container {
    display: none;
  }
  .visible {
    display: flex;
    flex-direction: row;
    position: static;
    margin-right: 3%;
    gap: 3%;
    z-index: 1;
    width: 50%;
    height: auto;
    padding-top: 0;
  }
  
}
