.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background-color: #2da080;
  font-family: "Poppins";
}
.logo-p-header-container {
  display: flex;
  align-items: center;
}
img {
  height: 15vh;
  object-fit: contain;
}
.p-header {
  display: none;
}
i {
  font-size: x-large;
  margin-right: 5vw;
}
.name {
  font-size: 2em;
}

.list {
  display: none;
  font-size: 1.6em;
  margin-right: 20px;
  gap: 20px;
}
.p1,
  .p3 {
    margin-left: 20px;
  }
  .p2 {
    margin-left: 30px;
  }

//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 600px) {
  .p-header {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .burger-icone-container {
    display: none;
  }
  .list {
    display: flex;
  }
  
}
