.header-container {
  display: flex;
  align-items: center;
justify-content: space-between;
  height: 15vh;
  background-color: #2DA080;
}
.logo-p-header-container{
  display: flex;
  align-items: center;
}
img {
  height: 15vh;
  object-fit: contain;
}
.p-header{
  display: none;
}
i{
  font-size: x-large;
  margin-right: 5vw;
}
//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 500px) {
  .p-header{
      display: block;
  }
}
@media screen and (min-width: 1200px) {
  i{
      display: none;
  }
}