<footer class="footer-container">
  <div class="footer-upper">
    <img src="../../assets/logo/logowotxt.png" alt="logo du site" />
    <div class="footer-upper-p-container">
      <div class="footer-upper-p">
        <p>Céline Moreira, réflexologue près de Bourges.</p>
        <p>Membre de la fédération ERVE-France.</p>
        <p>La réflexologie rétablit de façon naturelle l'équilibre du corps, libère
          du stress et des tensions.</p>
        <p>Cette technique aide le corps à éliminer les toxines, améliore la
          circulation sanguine, aide au sommeil, etc.</p>
      </div>
      <div>
        <ul><li><i class="fa-solid fa-phone"></i> 0650923194</li>
          <li><i class="fa-solid fa-location-dot"></i> Villeneuve | Cher</li>
          
          <li><i class="fa-regular fa-envelope"></i><a class="mailto" href="mailto:cmoreira.lart.reflexologie@gmail.com"> cmoreira.lart.reflexologie&#64;gmail.com</a></li>
          
        </ul>
      </div>
    </div>
    <div class="follow-me-container">
      <!-- <p class="follow">Suivez-moi</p> -->
      <a href="https://www.instagram.com/celine_reflexologue/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/lartdelareflexologie"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Céline MOREIRA © {{ currentYear }} Tous droits réservés</p>
    <p><a [routerLink]="['/mentions-legales']"> Mentions légales</a> - <a [routerLink]="['/CGU']">CGU</a> - Législation</p>
  </div>
</footer>
