.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-upper{
  height: 10vh;
  background-color: #e9f5f9;
  display:flex;
  align-items: center;
  justify-content: space-between;
}img {
  width: 10vh;
}
.footer-upper-p {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
gap: 10px;
}
.mailto{
  color: #2da080;
  font-size: small;
  margin-left: 8px;

}
.follow-me-container{
  display: flex;
  flex-direction: column;
  align-items: center;
gap: 12px;
font-size: x-small;
margin-right: 5%;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 6vh;
  background-color: #2da080;
  font-size: x-small;
}
i{
  font-size: medium;
  margin-right: 8px;
}



//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 600px) {
  .mailto{
    color: #2da080;
    font-size: small;
    margin-left: 8px;
  }
  .footer-upper{
  justify-content: space-around;
  }
  .mailto{
  font-size: medium;
}
  .footer-upper{
  height: 15vh;
}img {
  width: 15vh;
}
.follow-me-container{
  font-size: large;
  gap: 24px;
}
i{
font-size: 1.3rem;
}
.footer-bottom {
  font-size: medium;
}
ul{
  font-size: medium;
}
}







@media screen and (min-width: 1200px) {
  .footer-upper{
  height: 20vh;
}img {
  width: 20vh;
}
.footer-upper{
  justify-content: space-between;
  }
.footer-upper-p {
  display: block;
}

ul{
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  align-items: flex-end;
}

ul li:nth-child(2){
  order: 1;
}
.footer-upper-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
i{
font-size: 2rem;
}

.follow-me-container i:hover {
  color: #2da080;
  scale: 1.5;
  transition: 0.5s;
}
.footer-upper-p-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
}