<img
  class="logo flex"
  src="../assets/accueil/logo1.png"
  alt="logo l'art de la réflexologie"
/>
<div class="desktop-only">
  <h1>L'art de la réflexologie</h1>
    <div class="flex center">
      <div class="item" style="background-image: url(../../../assets/accueil/massage4.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
      </div>
      <div class="item" style="background-image: url(../../../assets/accueil/massage5.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
      </div>
      <div class="item" style="background-image: url(../../../assets/accueil/massage3.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
      </div>
      <div class="item" style="background-image: url(../../../assets/accueil/massage2.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
      </div>
      <div class="item" style="background-image: url(../../../assets/accueil/massage1.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTN8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
    </div>
  </div>
</div>
<div class="padding">
  <h2>A propos</h2>
  <div class="txt-container">
    <p>
      La réflexologie vectorielle est une méthode énergétique vitaliste faisant
      appel à la participation active de la personne durant sa séance. Elle
      travaille sur le plan physique, énergétique et psycho-emotionnelle de
      l'individu, pouvant traverser des zones d'inconfort, révélatrices de sont
      état général. La réflexologie est une technique qui ne vise pas au bien
      être mais invite l'organisme à sortir de sa zone de confort libérant ainsi
      une nouvelle énergie destinée à l'auto guérison naturelle propre à chaque
      individu. Le pied est une représentation miniature du corps ou chaque zone
      réflexe est reliée à un organe ou à une glande du corps par
      l'intermédiaire de nombreuses terminaisons nerveuses. Par une digito
      pression spécifique des mains ou des pieds, votre praticien invite votre
      corps à se débarrasser de ses toxines et à se rééquilibrer tout en
      douceur. Vous vous sentirez incroyablement relaxé, allégé et en harmonie.
      Que vous souhaitiez simplement en découvrir les bienfaits ou que vous
      cherchiez à résoudre des dysfonctionnements chroniques, la réflexologie
      vous donne énergie et vitalité. <span routerLink="/a-propos" class="button pointer">voir plus</span>
    </p>

    <div class="p2">
      <p>
        Les pieds reflètent la façon dont nous avançons dans la vie. Ils portent
        en eux la mémoire de chacun des pas que nous avons posés, qu'ils furent
        heureux ou malheureux. En Médecine traditionnelle chinoise, la
        réflexologie propose d'agir sur nos émotions en touchant directement
        certaines zones liées à nos organes. Une manière de faire en sorte que :
      </p>
      <p class="citation">"ce qui ne s'exprime pas, s'imprime dans notre corps".</p>
    </div>
  </div>
  <h2>Le salon</h2>
  <div class="carousel-iframe-container flex column center">
    <!-- jouer avec les valeurs d'input pour accéder aux différentes features du carousel -->
    <app-carousel
      [images]="images"
      [autoSlide]="true"
      [controls]="true"
      [indicators]="true"
    ></app-carousel>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.5927909799557!2d2.220425476733674!3d47.02859757114263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47faec0319801b25%3A0xcb74a5bc6a6e1b68!2s5%20Rte%20de%20Saint-Florent%2C%2018400%20Villeneuve-sur-Cher!5e0!3m2!1sfr!2sfr!4v1689941139858!5m2!1sfr!2sfr"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

</div>
<app-arrow-up/>