<div class="padding confidential-politic-container"><h2>Politique de confidentialité</h2>
<p>
  J'accorde une grande importance à la confiance dans mes relations client. La
  protection de vos données personnelles est essentielle pour moi. Vous
  trouverez dans la politique de confidentialité ci-dessous la manière dont nous
  collectons et traitons ces données.
</p>
<h5>Quelles données collectons-nous lors de votre visite sur notre site ?</h5>
<p>
  Les données collectées lors de la prise de rendez-vous sont les suivantes :
</p>
<ul>
  <li>Prénom</li>
  <li>Nom</li>
  <li>Adresse mail</li>
  <li>Numéro de téléphone</li>
</ul>
<p>
  Ces données personnelles sont collectées uniquement au travers du formulaire
  de contact pour les finalités suivantes :
</p>
<ul>
  <li>Contact</li>
</ul>
<h5>Droit d'opposition, de rectification et de suppression</h5>
<p>
  Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6
  janvier 1978 relative à l'informatique, aux fichiers et aux libertés, tout
  utilisateur dispose d'un droit d'accès, de rectification et d'opposition aux
  données personnelles le concernant, en nous contactons par le moyen de votre
  choix :
</p>
<ul>
  <li>
    Courrier : Céline Moreira, 5 route de saint Florent / 18400 Villeneuve sur
    Cher
  </li>
  <li>Courriel : cmoreira.lart.reflexologie@gmail.com</li>
  <li>Téléphone : 06.50.92.31.94</li>
  <li>Site web: www.lart-reflexologie.netlify.app</li>
</ul>
<p>
  Aucune information personnelle de l'utilisateur du site
  www.lart-reflexologie.netlify.app n'est publiée à l'insu de l'utilisateur,
  échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.
</p>
<h5>Sécurité</h5>
<p>
  Les données personnelles que nous collectons sont conservées de manière
  sécurisée et uniquement pendant la durée nécessaire à la réalisation des
  finalités décrites ci-dessus.
</p>
<h5>Législation</h5>
<p>
  Nous nous engageons à respecter les dispositions légales énoncées dans la loi
  « Informatique et Libertés » du 6 janvier 1978, modifiée par la loi du 6 aout
  2004, ainsi que le Règlement Européen sur la protection des données du 23 mai
  2018.
</p>
</div>