@import "src/app/scss/variable.scss";

.form-sent-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='148' height='148' viewBox='0 0 200 200'%3E%3Cpolygon fill='%232DA080' fill-opacity='0.66' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}