h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.1em;
  margin: 30px;
  font-size: 4rem;
  color: var(--main-color);
  text-shadow: #000000 2px 1px
}