<div class="mentions-legales-container"><h2>Mentions légales</h2>
  <h5>Propriété du site</h5>
  <p>
    Céline Moreira Entrepreneur Individuel Réflexologue Code APE 8690F Siret:
    94810327000013 5 route de Saint Florent 18400 Villeneuve sur Cher
    cmoreira.lart.reflexologie@gmail.com 0650923194
  </p>
  
  <h5>Conception du site</h5>
  <p>Site créé par Mr Cuogo Jimmy jimmy.cuogo@gmail.com</p>
  
  <h5>Hébergeur du site</h5>
  NETLIFY
  
  <h5>Avertissement légal</h5>
  <p>
    Vous disposez d'un droit d'accès, de modification, de rectification et de
    suppression des données vous concernant. (Art. 34 de la loi "informatique et
    Libertés " du 6 janvier 1978). Vous pouvez l'exercer en adressant un courrier
    à l'adresse suivante : cmoreira.lart.reflexologie@gmail.com
  </p>
  <h5>Autres sites web</h5>
  <p>
    Le présent site web peut contenir des liens vers d'autres sites. Nous nous
    efforçons à cet égard d'établir des liens uniquement vers des sites qui
    partagent notre niveau d'exigence en matière de respect de la confidentialité.
    Toutefois, nous ne sommes pas responsables du contenu des autres sites ni de
    leurs pratiques en matière d'informations personnelles.
  </p>
  <h5>Copyright</h5>
  <p>
    Tous les éléments contenu sur ce site ne peuvent pas être copiés à des fins
    commerciales ou de diffusion, ni être modifiés ou utilisés sur d'autres sites.
  </p>
  <h5>Propriété du site</h5>
  <p>
    Céline Moreira Entrepreneur Individuel Réflexologue Code APE 8690F Siret:
    94810327000013 5 route de Saint Florent 18400 Villeneuve sur Cher
    cmoreira.lart.reflexologie@gmail.com 0650923194
  </p>
  
  <h5>Conception du site</h5>
  <p>Site créé par Mr Cuogo Jimmy jimmy.cuogo@gmail.com</p>
  
  <h5>Hébergeur du site</h5>
  NETLIFY
  
  <h5>Avertissement légal</h5>
  <p>
    Vous disposez d'un droit d'accès, de modification, de rectification et de
    suppression des données vous concernant. (Art. 34 de la loi "informatique et
    Libertés " du 6 janvier 1978). Vous pouvez l'exercer en adressant un courrier
    à l'adresse suivante : cmoreira.lart.reflexologie@gmail.com
  </p>
  <h5>Autres sites web</h5>
  <p>
    Le présent site web peut contenir des liens vers d'autres sites. Nous nous
    efforçons à cet égard d'établir des liens uniquement vers des sites qui
    partagent notre niveau d'exigence en matière de respect de la confidentialité.
    Toutefois, nous ne sommes pas responsables du contenu des autres sites ni de
    leurs pratiques en matière d'informations personnelles.
  </p>
  <h5>Copyright</h5>
  <p>
    Tous les éléments contenu sur ce site ne peuvent pas être copiés à des fins
    commerciales ou de diffusion, ni être modifiés ou utilisés sur d'autres sites.
  </p>
  <h5>Propriété du site</h5>
  <p>
    Céline Moreira Entrepreneur Individuel Réflexologue Code APE 8690F Siret:
    94810327000013 5 route de Saint Florent 18400 Villeneuve sur Cher
    cmoreira.lart.reflexologie@gmail.com 0650923194
  </p>
  
  <h5>Conception du site</h5>
  <p>Site créé par Mr Cuogo Jimmy jimmy.cuogo@gmail.com</p>
  
  <h5>Hébergeur du site</h5>
  NETLIFY
  
  <h5>Avertissement légal</h5>
  <p>
    Vous disposez d'un droit d'accès, de modification, de rectification et de
    suppression des données vous concernant. (Art. 34 de la loi "informatique et
    Libertés " du 6 janvier 1978). Vous pouvez l'exercer en adressant un courrier
    à l'adresse suivante : cmoreira.lart.reflexologie@gmail.com
  </p>
  <h5>Autres sites web</h5>
  <p>
    Le présent site web peut contenir des liens vers d'autres sites. Nous nous
    efforçons à cet égard d'établir des liens uniquement vers des sites qui
    partagent notre niveau d'exigence en matière de respect de la confidentialité.
    Toutefois, nous ne sommes pas responsables du contenu des autres sites ni de
    leurs pratiques en matière d'informations personnelles.
  </p>
  <h5>Copyright</h5>
  <p>
    Tous les éléments contenu sur ce site ne peuvent pas être copiés à des fins
    commerciales ou de diffusion, ni être modifiés ou utilisés sur d'autres sites.
  </p>
  <h5>Propriété du site</h5>
  <p>
    Céline Moreira Entrepreneur Individuel Réflexologue Code APE 8690F Siret:
    94810327000013 5 route de Saint Florent 18400 Villeneuve sur Cher
    cmoreira.lart.reflexologie@gmail.com 0650923194
  </p>
  
  <h5>Conception du site</h5>
  <p>Site créé par Mr Cuogo Jimmy jimmy.cuogo@gmail.com</p>
  
  <h5>Hébergeur du site</h5>
  NETLIFY
  
  <h5>Avertissement légal</h5>
  <p>
    Vous disposez d'un droit d'accès, de modification, de rectification et de
    suppression des données vous concernant. (Art. 34 de la loi "informatique et
    Libertés " du 6 janvier 1978). Vous pouvez l'exercer en adressant un courrier
    à l'adresse suivante : cmoreira.lart.reflexologie@gmail.com
  </p>
  <h5>Autres sites web</h5>
  <p>
    Le présent site web peut contenir des liens vers d'autres sites. Nous nous
    efforçons à cet égard d'établir des liens uniquement vers des sites qui
    partagent notre niveau d'exigence en matière de respect de la confidentialité.
    Toutefois, nous ne sommes pas responsables du contenu des autres sites ni de
    leurs pratiques en matière d'informations personnelles.
  </p>
  <h5>Copyright</h5>
  <p>
    Tous les éléments contenu sur ce site ne peuvent pas être copiés à des fins
    commerciales ou de diffusion, ni être modifiés ou utilisés sur d'autres sites.
  </p>
  </div>
