.contact-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/fleurs.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-container {
  background-color: rgba(217, 217, 217, 0.8);
  width: 90vw;
  border-radius: 20px;
  margin: 20px 0 20px 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  line-height: 15px;
}

.content-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
}
h2 {
  margin: 30px 0 10px 0;
  font-size: 1.5rem;
}
.content-container-body {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  gap: 10px;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
input {
  margin-top: 3px;
  border: none;
  height: 25px;
  width: 80vw;
  max-width: 170%;
  box-shadow: 2px 2px 2px var(--main-color);
  border-radius: 5px;
}

textarea {
  border: none;
  height: 200px;
  width: 80vw;
  max-width: 170%;
  box-shadow: 2px 2px 2px var(--main-color);
  border-radius: 5px;
}

.button {
  background-color: var(--main-color);
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
  margin-top: 10px;
  padding: 10px 15px;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.coordo {
  display: flex;
  flex-direction: column;
}
i {
  font-size: 1rem;
  padding-right: 10px;
}
.mailto {
  color: black;
}
iframe{
  width:100%;
  height:250px;
  border-radius: 20px;
}

.content-container-footer{
  margin-top: 10%;
}
