<div class="padding contact-container">
  <div class="content-container">
    <section class="content-container-header">
      <h2>Contactez moi</h2>
      <div class="content-container-header-p">
        <p>Merci de compléter ce formulaire pour prendre rendez vous. </p>
        <p>Je reste disponible pour répondre à vos questions.</p>
      </div>
    </section>
    <section class="content-container-body">
      <form action="https://formsubmit.co/jimmy.cuogo@gmail.com" method="POST">
        <fieldset>
          <label for="name">Votre Nom * : </label>
          <input
            type="text"
            name="name"
            placeholder="Tapez votre nom ici"
            required
          />
        </fieldset>
        <fieldset>
          <label for="email">Email * : </label>
          <input
            type="email"
            name="email"
            placeholder="Tapez votre email ici"
            required
          />
        </fieldset>
        <fieldset>
          <label for="subject">Sujet : </label>
          <input type="text" name="subject" placeholder="ex : Demande de RDV" />
        </fieldset>
        <fieldset class="text-area">
          <label for="message">Votre message : </label>
          <textarea name="message"></textarea>
        </fieldset>
        <button class="button" type="submit">Envoyez *</button>
      </form>
      <div class="details">
        <div class="schedule-and-coordo">
          <div class="schedule">
            <h5>Mes horaires</h5>
            <p>Lundi au jeudi : 17h30-19h</p>
            <p>Vendredi : 9h-19h</p>
            <p>Samedi : 9h-12h / 14h-18h</p>
          </div>
          <div class="coordo">
            <h5>Mes coordonnées</h5>
            <div><i class="fa-solid fa-phone"></i>0650923194</div>
            <div>
              <i class="fa-solid fa-location-dot"></i> Villeneuve | Cher
            </div>
            <div>
              <i class="fa-regular fa-envelope"></i>
              <a
                class="mailto"
                href="mailto:cmoreira.lart.reflexologie@gmail.com"
                >cmoreira.lart.reflexologie@gmail.com</a
              >
            </div>
          </div>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.592604670975!2d2.2204254767247735!3d47.02860122771177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47faec0319801b25%3A0xcb74a5bc6a6e1b68!2s5%20Rte%20de%20Saint-Florent%2C%2018400%20Villeneuve-sur-Cher!5e0!3m2!1sfr!2sfr!4v1688457786214!5m2!1sfr!2sfr"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <p>
          Rendez vous également possible dans le village de Chezal-Benoit au
          local des P'tites mains casalaises le samedi et dimanche.
        </p>
      </div>
    </section>
    <section class="content-container-footer">
      <p>
        * En cliquant sur <span>"Envoyer"</span>, j'accepte expressément les
        <span routerLink="/CGU">Conditions Générales d'Utilisation</span> de Céline Moreira et je
        comprends que les informations ci-dessus seront utilisées conformément à
        la <span routerLink="/politique-confidentialite">Politique de confidentialité</span>.
      </p>
    </section>
  </div>
</div>
