<header class="header-container flex center space-between">
  <div class="logo-p-header-container flex center">
    <img
      [routerLink]="['accueil']"
      src="./assets/logo/header2.png"
      alt="logo du site"
    />
    <div class="p-header">
      <P class="name">Céline Moreira</P>
      <P class="p1">L'art de la réflexologie plantaire</P>
      <P class="p2">Practicienne en réflexologie vectorielle,</P>
      <P class="p3">certifiée palmaire & plantaire</P>
    </div>
  </div>
  <nav [ngClass]="burgerVisible ? 'visible invisible' : 'visible'">
    <div
      (click)="burgerToggle()"
      [routerLinkActive]="['active']"
      [routerLink]="['accueil']"
    >
      Accueil
    </div>
    <div
      (click)="burgerToggle()"
      [routerLinkActive]="['active']"
      [routerLink]="['reflexologie']"
    >
      La réflexologie
    </div>
    <div
      (click)="burgerToggle()"
      [routerLinkActive]="['active']"
      [routerLink]="['a-propos']"
    >
      A propos
    </div>
    <div
      (click)="burgerToggle()"
      [routerLinkActive]="['active']"
      [routerLink]="['seances']"
    >
      Séances
    </div>
    <div
      (click)="burgerToggle()"
      [routerLinkActive]="['active']"
      [routerLink]="['contact']"
    >
      Contact
    </div>
  </nav>
  <div class="burger-icone-container" (click)="burgerToggle()">
    <i [ngClass]="burgerVisible ? 'fa-solid fa-bars' : 'fa-solid fa-xmark'"></i>
  </div>
</header>
