@import "src/app/scss/variable.scss";

.header-container {
  background-color: $green;
}

.logo-p-header-container {
  z-index: 2;//passe devant le menu burger déroulé
}

img {
  height: 100px;
  margin: $normal-margin;
}

i {
  font-size: $xxl-font-size;
  margin-right: $triple-margin;
}

.name {
  font-size: $xl-font-size;
}

.burger-icone-container {
  z-index: 2;
}

.p1 {
 font-size: $xsm-font-size;
}

nav div{
  font-weight: 600;
  letter-spacing: 0.08em;
  color: $white;
  border-bottom: 1px solid white;
}

nav div:hover {
  color: whitesmoke;
  transition: 0.3s;
}

.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 50vh;
  background-color:$green; 
  transition: right 1s;
  align-items: center;
  justify-content: space-around;
  padding-top: 116px;
  z-index: 1;
  border-bottom-left-radius: 8px;
}
.invisible {
  right: -50vw;
}

.p3, .p2 {
  display: none;
}


//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 600px) {
  .p1, .p3, .p2 {
    margin-left: 20px;
    display: block;
    font-size: 1rem;
  }
  .header-container {
    height: 15vh;
  }
  img {
    height: 13vh;
    padding: $normal-padding
  }
  .visible {
    padding-top: 186.75px;
    border-bottom-left-radius: 16px;
  }
  nav div{
  font-size: 1.5rem;
}

}
@media screen and (min-width: 1200px) {
  .burger-icone-container {
    display: none;
  }
  .visible {
    flex-direction: row;
    position: static;
    margin-right: 3%;
    gap: 3%;
    width: 50%;
    height: auto;
    padding-top: 0;
  }
  nav div{
    cursor: pointer;
    border-bottom: none;
  }
}
