<header class="header-container">
  <div class="logo-p-header-container">
    <img
      [routerLink]="['accueil']"
      src="./assets/logo/header2.png"
      alt="logo du site"
      />
    <div class="p-header">
      <P class="name">Céline Moreira</P>
      <P class="p1">L'art de la réflexologie plantaire</P>
      <P class="p2">Practicienne en réflexologie vectorielle,</P>
      <P class="p3">certifiée palmaire & plantaire</P>
    </div>
  </div>
  <nav
    [ngClass]="burgerVisible ? 'visible invisible' : 'visible'"
    >
    <div [routerLink]="['accueil']">Accueil</div>
    <div
      (mouseenter)="showMenu()"
      (mouseleave)="showMenu()"
      [routerLink]="['reflexologie']"
      >
      La réflexologie
      @if (showSubMenu) {
        <ul class="sous-menu">
          <li><a href="/reflexologie#presentation">Présentation générale</a></li>
          <li>
            <a href="/reflexologie#qui">Pour qui ? </a>
          </li>
          <!-- <li>
          <a href="/reflexologie#contrindication">Les contre indications</a>
        </li> -->
        <li>
          <a [routerLink]="['reflexologie']" fragment="contrindication"
            >Les contre indications</a
            >
          </li>
        </ul>
      }
    </div>
    <div [routerLink]="['a-propos']">A propos</div>
    <div [routerLink]="['seances']">Séances</div>
    <div [routerLink]="['contact']">Contact</div>
  </nav>
  <div class="burger-icone-container" (click)="burgerToggle()">
    <i [ngClass]="burgerVisible ? 'fa-solid fa-bars' : 'fa-solid fa-xmark'"></i>
  </div>
</header>
