@import "src/app/scss/variable.scss";

h2 {
  text-align: center;
  margin-top: $quadruple-margin;
}

span {
  font-weight: 600;
}

table {
    border-collapse: collapse;
    margin: $normal-margin auto $double-margin auto;
    font-weight: 900;
}

thead {
  background-color: $green;
  color: whitesmoke;
}

th {
  text-align: center;
  padding: $normal-padding;
  border: 1px solid black;
}

td {
text-align: center;
border: 1px solid black;
padding: $half-padding;
}

img {
  width: 280px;
  border-radius: 8px;
  filter: drop-shadow(0 0px 8px);
}

.img-2 {
 margin: $double-margin auto;
  }

.gift-and-p {
  margin-top: $double-margin;   
  }

.gift-image {
  width: 150px;
}

.desktop-only {
  display: none;
}


//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 600px) {
  table {
    width: 550px;
  }
  th {
    padding: $double-padding;
  }
  td {
    padding: $normal-padding;
  }
}

@media screen and (min-width: 1200px) {

  table {
    font-size: x-large;
    width: 800px;
    margin: $quadruple-margin auto;
  }

  .desktop-only {
    display: block;
  }

  .gift-image {
    width: 400px;
  }

  img {
    width: 300px;
  }
}