<div class="padding seances-container">
  <h2>Les séances</h2>
  <div class="imgage-container-1">
    <img
      src="../../../assets/massage1.jpeg"
      loading="lazy"
      alt="photo d'un massage de pied"
    />
    <img class="image-to-desktop" src="../../../assets/massage4.jpeg" alt="photo de massage de pied">
  </div>

  <h3>Déroulement d'une séance</h3>
  <p>
    Un pantalon ample est conseillé pour votre confort et celui du réflexologue.
    Nous évoquerons ensemble là où les raison de votre visite pour établir un
    protocole de soin. Vous serez installé confortablement sur une table de
    massage ou dans un fauteuil. Un toucher spécifique sera pratiqué sur les
    zones réflexes de vos pieds.
  </p>
  <p>Phase <span>"active"</span> qui consiste à équilibrer l'organisme.</p>
  <p>
    Phase de <span>"drainage"</span> qui permettra d'évacuer les toxines logées
    dans les couches profondes des muscles afin d'aider le corps à se nettoyer.
  </p>
  <p>
    Phase de <span>"détente"</span> avec des gestes doux pour faire retomber les
    tensions.
  </p>
  <p>
    Une séance dure entre 30 minutes et une heure suivant les pathologies. Une
    liste des recommandations vous sera remise pour optimiser les effets
    bénéfiques du soin.
  </p>
  <div class="imgage-container-2">
    <img
      src="../../../assets/massage5.jpeg"
      loading="lazy"
      alt="photo d'un massage de pied"
    />
  </div>
  <h3>Nombre de séances</h3>
  <p>
    En fonction de la profondeur du dysfonctionnement, les résultats peuvent
    être immédiat ou nécessiter plusieurs séance. Il est recommandé de suivre le
    protocole de 3 séances espacées d'une semaine à quinze jours suivie d'une
    quatrième un mois après.<br> Prise en charge par certaine mutuelle, renseignez-vous.
  </p>

  <table>
    <!-- <caption>titre du tableau</caption> -->
    <thead>
      <tr>
        <th>Séances</th>
        <th>Public</th>
        <th>Durée</th>
        <th>Tarif</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">réflexologie plantaire</td>
        <td>adulte</td>
        <td>50 min</td>
        <td>40 €</td>
      </tr>
      <tr>
        <td>7 à 12 ans</td>
        <td>20 min</td>
        <td>25 €</td>
      </tr>
      <tr>
        <td>- de 7 ans</td>
        <td>15 min</td>
        <td>15 €</td>
      </tr>
      <tr>
        <td colspan="2">petit drainage/détente</td>
        <td>30 min</td>
        <td>25 €</td>
      </tr>
      <tr>
        <td colspan="3">forfait protocole de 4 séances</td>
        <td>140 €</td>
      </tr>
    </tbody>
  </table>
  <p>
    Une majoration pour les frais de déplacement sera appliquée pour les soins
    de réflexologie réalisés au-delà de 10 kilomètres de mon domicile.
  </p>
  <div>
    <h3>Carte cadeau</h3>
    <p>
      Envie d'offrir un moment de détente et de relaxation profonde? <br> Prendre
      soin de celle et ceux que vous aimez ?
    </p>
    <div class="gift-and-p">
      <div class="p-for-gift">
        <p>
          Contactez moi par téléphone ou via le
          <span routerLink="/contact">formulaire</span>.
        </p>
        <p>Vous recevrez votre bon cadeau par mail.</p>
      </div>

      <img routerLink="/contact"
        class="gift-image"
        src="../../../assets/Gift card-rafiki.png"
        loading="lazy"
        alt="image d'une femme qui porte un cadeau géant"
      />
    </div>
  </div>
</div>
