h2{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 30px;
  font-size: 2rem;
}
h3{
  padding: 10% 0 5% 0;
}
span{
  font-weight: 600;
}

p, table{
  margin-bottom:5%

}
table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}
thead{
  background-color: var(--main-color);
  color: whitesmoke;
  padding: 3px;
  border: 1px solid black;
}
th {
  padding: 10px;
  border: 1px solid black;
}
td {
  padding: 5px;
     border: 1px solid black;
     text-align: center;
}


.imgage-container-1 {
display: flex;
align-items: center;
justify-content: space-around;
}

img{
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  filter: drop-shadow(0 0 15px );
  margin-top: 5%;
}
.imgage-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  }
.gift-and-p {
  display: flex;
  align-items: center;
  }
.gift-image{
  width: 50%;
}
.p-for-gift{
  display: flex;
  flex-direction: column;
 gap: 30px;
}
.image-to-desktop{
  display: none;
}


//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (min-width: 600px) {
  table {
    width: 80%;
  }
  th {
    padding: 20px;
  }
  td {
    padding: 10px;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
  }
  .imgage-container-1 img, .imgage-container-2 img{
    width: 55%;
    filter: drop-shadow(0 0 30px var(--main-color));
  }


}
@media screen and (min-width: 1200px) {
  .imgage-container-1 img{
    height: 400px;
    // height: 35vh;
    filter: drop-shadow(0 0 30px var(--main-color));
    border-radius: 16px;
  }
  .imgage-container-2 img{
    width: 30%;
    filter: drop-shadow(0 0 30px var(--main-color));
  }

  table {
    height: 50vh;
    font-size:large;

  }
  .image-to-desktop{
    display: block;
  }
  .gift-image{
    width: 40%;
  }
  .gift-and-p {
    justify-content: space-between;
    }
}