<div class="h1-celine-img flex">
  <img
    class="celine"
    src="../../../assets/Celine2.png"
    alt="avatar de Céline"
  />
  <h1>A propos de moi</h1>
</div>
<div class="padding apropos-container">
  <p>
    Passionnée par l'humain, la relation et le mouvement, ce n'est pas par
    hasard que mon chemin de vie professionnel s'est dirigé vers
    l'accompagnement à la personne. Monitrice éducatrice depuis des années, j'ai
    travaillé auprès de plusieurs populations: enfants porteurs de handicaps
    moteurs, déficients intellectuels, autisme et adultes en situation de
    handicap psychique. J'y ai développé une sensibilité profonde quant à
    l'importance de reconnaître chacun dans sa singularité.
  </p>
  <p>
    En 2014, je suis entrée dans le milieu de la psychiatrie, véritable choix
    professionnel, où à mon sens la dimension relationnelle occupe une place
    centrale dans les soins. Les rencontres et l'expérience m'ont permis
    d'aborder la santé dans sa globalité et m'ont poussé vers un désir
    d'approfondir la notion de soins sous un autre angle.
  </p>

  <div class="erve-container">
    <p>
      En 2017, je débute la réflexologie avec la méthode ERVE "<span
        >École de Réflexologie et de Vecteurs Énergétiques</span
      >".
    </p>
    <a href="https://www.erve-france.org/" target="_blank">
      <img src="/assets/erve.png" alt="logo ERVE" />
    </a>
  </div>
  <p>
    Cette technique naturelle qui prend en compte la personne dans son
    intégralité, a su démontrer ses bienfaits sur les patients. Convaincue de la
    relation corps-émotions et de la capacité d'autorégulation de l'organisme,
    j'ai alors suivi un cursus complet et certifiant de réflexologue plantaire
    ERVE. J'ai commencé à pratiquer la réflexologie en psychiatrie. C'est avec
    beaucoup de fierté que j'ai rédigé mon mémoire sur la question " la
    réflexologie à t'elle sa place en psychiatrie?" développant ainsi mon
    intuition et des capacités d'adaptation face à une population qui parfois ne
    peut exprimer les maux par des mots.
  </p>
  <p>
    Curieuse de nature, je me forme au reiki (1er degré) me permettant de lier
    mon intuition avec de solides connaissances. L'apprentissage de la
    méditation et une pratique régulière en réflexologie m'amènent à approfondir
    mon sens de l'écoute et ma sensibilité.
  </p>
  <img class="reiki" src="../../../assets/reiki.jpg" alt="image reiki" />
  <p>
    Je laisse mes mains et mon ressenti me guider et continue d'apprendre et de
    me former à d'autres techniques complémentaires venant soutenir les effets
    de la réflexologie.
  </p>
</div>
<app-arrow-up />
