@import "src/app/scss/variable.scss";

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-upper {
  background-color: #e9f5f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 120px;
  margin: $normal-margin;
}

.footer-upper-p-container {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.mailto {
  color: $green;
  font-weight: 900;
  font-size: $xsm-font-size;
  word-break: break-word;
}

.follow-me-container {
  margin: $normal-margin;
}

.follow-me-container i {
  margin: $normal-margin;
  font-size: $xxl-font-size;
  color: black;
}

i {
  margin-right: $normal-margin;
}

.footer-bottom {
  background-color: $green;
  font-weight: 600;
  padding: $normal-padding;
}

.footer-bottom p {
  font-size: $xsm-font-size;
  text-align: center;
}

.footer-bottom a {
  color: black;
  cursor: pointer;
}

.fa-envelope {
  display: none;
}

//////////////////////////////MEDIA QUERY//////////////////////////////////

@media screen and (max-width: 350px) {
  .footer-upper {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .mailto {
    font-size: $lg-font-size;
  }

  .footer-upper {
    justify-content: space-around;
  }

  img {
    height: 200px;
  }

  i {
    font-size: $xxl-font-size;
  }

  .fa-envelope {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-upper-p-container {
    display: block;
    p {
      text-align: center;
      margin-top: $normal-margin;
    }
  }

  ul {
    flex-direction: row;
    justify-content: space-between;
    margin-top: $quadruple-margin;
  }

  ul li:nth-child(2) {
    order: 1;
  }

  ul li {
    font-size: $l-font-size;
    font-weight: 600;
  }

  .follow-me-container i {
    margin: $quadruple-margin;
    font-size: calc(2 * $xl-font-size);
  }

  .follow-me-container i:hover {
    color: $green;
    scale: 1.1;
    transition: 0.2s;
  }

  .footer-bottom {
    p {
      font-size: $lg-font-size;
    }
  }
}
