@import "src/app/scss/variable.scss";

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-upper {
  height: 10vh;
  background-color: #e9f5f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 10vh;
}
.footer-upper-p,
.follow {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.mailto {
  color: $green;
  font-weight: 800;
  font-size: 0.82rem;
  cursor: pointer;
}
.follow-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-right: 5%;
}
.follow-me-container i {
  cursor: pointer;
  color: black;
}
.fa-instagram,
.fa-facebook {
  font-size: 1.7rem;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 6vh;
  background-color: $green;
  font-weight: 600;

}
.footer-bottom p {
  font-size: 0.8rem;
}
i {
  margin-right: 8px;
}
.footer-bottom a {
  color: black;
  cursor: pointer;
}
.fa-envelope {
  display: none;
}

//////////////////////////////MEDIA QUERY//////////////////////////////////
@media screen and (max-width: 350px) {
  .footer-upper {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .mailto {
    color: $green;
    font-size: small;
    margin-left: 8px;
  }
  .footer-upper {
    justify-content: space-around;
  }
  .mailto {
    font-size: medium;
  }
  .footer-upper {
    height: 15vh;
  }
  img {
    width: 15vh;
  }
  .follow-me-container {
    font-size: large;
    gap: 24px;
  }
  i {
    font-size: 1.3rem;
  }
  .fa-instagram,
  .fa-facebook {
    font-size: 2.9rem;
  }
  .footer-bottom {
    font-size: medium;
  }
  ul {
    font-size: medium;
  }
  p {
    font-size: 1rem;
  }

  .fa-envelope {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-upper {
    height: 20vh;
  }
  img {
    width: 20vh;
  }
  .footer-upper {
    justify-content: space-between;
  }
  .footer-upper-p,
  .follow {
    display: block;
  }

  ul {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    align-items: flex-end;
  }

  ul li:nth-child(2) {
    order: 1;
  }
  .footer-upper-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  i {
    font-size: 2rem;
  }

  .follow-me-container i:hover {
    color: $green;
    scale: 1.5;
    transition: 0.5s;
  }
  .footer-upper-p-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
