@media screen and (min-width: 1200px) {.arrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  color: #2da080;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  z-index: 3;
}

.arrow:hover {
  background-color: #2da080;
  color: whitesmoke;
}

/* Afficher le bouton lorsque le scroll est supérieur à 600px */
.show {
  display: block;
}
}