@import "src/app/scss/variable.scss";

@media screen and (min-width: 1200px) {
.arrow {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: none;
  font-size: $xl-font-size;
  outline: none;
  background-color: $white;
  color: $green;
  padding: $half-padding $normal-padding;
  border-radius: 50px;
  z-index: 3;
}

.arrow:hover {
  background-color: $green;
  color: white;
}

/* Afficher le bouton lorsque le scroll est supérieur à 600px */
.show {
  display: block;
  }
}